Django==1.10.6
django-cors-headers==2.0.2
django-mptt==0.8.7
djangorestframework==3.5.4
psycopg2==2.7
django-rest-swagger==2.1.1
dj-database-url==0.4.2
whitenoise==3.3.0
gunicorn==19.7.1
psycopg2==2.7
